@import "variables";
//structure
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    > *{
        flex-shrink: 0;
    }
    main {
        flex: 1 0 auto;
        padding:1rem 0;
    }
}




// header
.navbar{
    background:white;
    margin-bottom:1rem;
    border-bottom:$gray-primary;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.165);
}
//footer
.footer{
    background: $gray-primary;
    padding:1rem;
}
//page
.page-menu a{
display:block;
}
.menu-level-h1{  padding-left:0}
.menu-level-h2{  padding-left:.25rem}
.menu-level-h3{  padding-left:.5rem}
.menu-level-h4{  padding-left:.75rem}
.menu-level-h5{  padding-left:1rem}
.menu-level-h6{  padding-left:1.25rem}

// table
table {
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    th, td {
        padding: .5rem 0.75rem;
        vertical-align: top;
        border: 1px solid $gray-primary;
    }
    thead th {
        vertical-align: bottom;
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
        border-bottom: 2px solid $gray-primary ;
    }
    tbody tr:hover {
        background-color: rgba(0,0,0,.075);
    }
}

// quote
blockquote{
    border-left:.25rem solid $gray-primary;
    padding:0 1rem;
}

// titulos
h1{
    font-weight: lighter;
    border-bottom: 2px solid $gray-primary;
}
h2{
    border-bottom: 1px solid $gray-primary; 
}
h1,h2,h3,h4,h5,h6{
    padding:.5rem 0;
}



/*list checkbox*/

.task-list{
    list-style-type: none;
    padding-left:0;
    .task-list-item-checkbox{
        margin-right: .5rem
    }
}

// menu
.menu{
    align-items: flex-start;
    display:flex;
    flex-direction:column;
    .submenu{
        align-items: flex-start;
        display:flex;
        flex-direction:column;
        margin-bottom:1rem;
    }
    .lv1{
        font-size:16px;
    }
    .lv1, .lv2{
        padding:.25rem;
        text-transform: capitalize;
        color:inherit;
        &:hover{
            color:inherit
        }
        &.active{
            font-weight: 600;
        }
    }
    .lv2.active{
        background:$gray-primary;
        border-radius:.25rem;
    }
}
