//structure
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    > *{
        flex-shrink: 0;
    }
    main {
        flex: 1 0 auto;
    }
}
a{
    &, &:visited{
        color:$action-primary;
    }
    &:hover, &:active{
        color:$action-primary-hover
    }
}

// header
.navbar{
    background:white;
    margin-bottom:1rem;
    border-bottom:$gray-primary;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.165);
}
//footer
.footer{
    background: $gray-primary;
    padding:1rem;
}
//page
.page-menu{
    color: $silver;
    a, a:hover,a:visited,:active{
    color:inherit;
    display:block;
    padding-top: .25rem;
    padding-bottom: .25rem
    }
}
.menu-level-h1{  padding-left:0;}
.menu-level-h2{  padding-left:0;}
.menu-level-h3{  padding-left:1rem}
.menu-level-h4{  padding-left:2rem}
.menu-level-h5{  padding-left:3rem}
.menu-level-h6{  padding-left:4rem}

// table
table {
    margin-bottom: 1rem;
    background-color: transparent;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    display:block;
    th, td {
        padding: .5rem 0.75rem;
        vertical-align: top;
        border: 1px solid $gray-primary;
    }
    thead th {
        vertical-align: bottom;
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
        border-bottom: 2px solid $gray-primary ;
    }
    tbody tr:hover {
        background-color: rgba(0,0,0,.075);
    }
}

// quote
blockquote{
    border-left:.25rem solid $gray-primary;
    padding:0 1rem;
}

// titulos
/*
h1,.h1{
    display:block;
    font-weight: lighter;
    border-bottom: 2px solid $gray-primary;
}
h2,.h2{
    display:block;
    border-bottom: 1px solid $gray-primary; 
}
*/
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    display:flex;
    align-items:center;
    padding:.5rem 0;
    color:$primary;
    text-transform: capitalize;
    font-weight: $font-bold;
    .text-muted{
        color: $silver;
        opacity:0.4;
        font-size:.8rem;
        padding-left:1rem;
        &:hover{
            opacity:1
        }
    }
}
//buttons
.btn-primary{
    background:$action-primary;
    border-color: $action-primary;
    &:hover, &:focus, &.active{
        background:$action-primary-hover;
        border-color: $action-primary-hover;
    }
}

//breadcrumb
.breadcrumb{
    background:none;
    padding:.5rem 0;
}

/*list checkbox*/

.task-list{
    list-style-type: none;
    padding-left:0;
    .task-list-item-checkbox{
        margin-right: .5rem
    }
}

// menu
.menu{
    align-items: flex-start;
    display:flex;
    flex-direction:column;
    .submenu{
        align-items: flex-start;
        display:flex;
        flex-direction:column;
        margin-bottom:1rem;
    }
    .lv1{
        font-size:16px;
        padding:.25rem;
        &.active{
            color: $secondary-color
        }
    }
    .lv2{
        padding:.25rem;
        padding-left: 1.4rem;
        &.active{
            background:$gray-primary;
            border-radius:.25rem;
            color: $dark-background;
        }
    }
    .lv1, .lv2{ 
        text-transform: capitalize;
        color:inherit;
        width:100%;
        &:hover{
            color:inherit
        }
        &.active{
            font-weight: 600;
            
        }
        &:not(.collapsed){
            .fas{
                transform: rotate(-90deg)
            }
        }
    }
}




.content {
    img{
        max-width:100%;
        height:auto;
        border: 1px solid $gray-primary;
        border-radius:.25rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
}
.nav-principal{
    background:$dark-background;
    &, .navbar-toggler{
        color:white;
    }
}
@mixin navMenu{
    align-self: flex-start; //si esta dentro de flex necesita esta propuesta 
    position:sticky;
    top: 0;
    z-index: 1020;
    height: calc(100vh);
    overflow-y: auto;
    font-size:14px;
}
.nav-menu-md,.nav-menu-lg,.nav-menu-xl{
    padding-top:1rem;
    padding-bottom:1rem;
    a{
        &:visited,&:hover,&:active{
            color:inherit
        }
        
    }
}
@media screen and (min-width:768px){.nav-menu-md{@include navMenu;}}
@media screen and (min-width:992px){.nav-menu-lg{@include navMenu;}}
@media screen and (min-width:1200px){.nav-menu-xl{@include navMenu;}}