
$gray-primary: #dee2e6;
$gray-primary-border: darken(#dee2e6, 20%);
$dark: rgb(33, 37, 41); 
$dark-gray: #4e5865;
$primary: $dark-gray;
$silver:#6c757d;
//background
$dark-background: rgb(13,18,43);
//btn
$action-primary:#2656D4;
$action-primary-hover: darken($action-primary,20%);
//link
$action-link:#5fc782;
$action-link-hover: darken($action-link, 20%);



